/*CSS stylesheet for memory game*/

/*Quick reset that affects all the objects*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #dddddd;
}

.memory_game1{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
  
}

.memory_game {
    width: 800px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    /*By adding perspective i can get a 3D effect when the cards are flipped. Lower number = Less effect*/
}

.test{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    display: block;
    position: absolute;
   
}
.titleInfo h1, #nrTries{
    font-size: 45px;
    padding-top: 1%;
}

.titleInfo h3{
    font-size: 20px;
    padding-bottom: 1%;
}

.startOver{
    margin-top: 15px;
    width: 100px;
}

/*Here is the style for the memory cards class memory_card. By using the css function calc() I can choose the height and width of the cards and the rows.*/
.memory_card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;    
}

/*This is a pseudo class that should be triggered every time one of the elements is clicked*/
.memory_card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory_card.flip {
    transform: rotateY(180deg);
}

.front_face,
.back_face {
    width: 100%;
    height: 100%;
    padding: 15px;
    position: absolute;
    border-radius: 5px;
    background: #a4cbf6;
    backface-visibility: hidden;
}

.front_face {
    transform: rotateY(180deg);
}

/* The Modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fef0ef; 
  opacity: 0.83;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 25px;    
}
.modal-content h1 {
    font-size: 45px;
    font-family: "Comic Sans MS";
    color: #383838;
    text-align: center;
}
.modal-content h2{
    font-size: 24px;
    text-align: center;
    font-family: "Comic Sans MS";
    color: #383838;
}

/*Play again button */
.playAgain {
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: lightblue;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
